* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat',
    sans-serif;
    background-color: black;
}

.App{
  background-color: black;
}

.box-search {
  background-image: url("./components/assets/SalasCine.jpg");
 background-position: center;
 background-repeat: no-repeat;
  width: 100vw;
  height: 640px;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
}

.search-film{
  width: 300px;
  height: 44px;
  text-align: center;
  font-size: 110%;
  border-radius: 16px;
  margin-top: 100px;

}
.boton{
 background-color: whitesmoke;
 border-radius: 16px;
 width: 20%;

}
.ref{
 color: black;
 text-decoration: none;
}
.movil{
  padding-top: 30px;
}

.poster{
  height: auto;
  text-align: center;
}

p{
  color: white;
}

.flex{
   display: flex;
   flex-wrap: nowrap;
}

@media(max-width: 600px) {
  .flex{
    display: inline-block;
    width: 100vw;
    margin: 0 auto;
    padding-top: 10px;
  }

  #card{
    border: 0;
  }

  .poster{
    width: 90vw;
  }
  
 .App{
   margin: 0 auto;
 }
  }